@charset "UTF-8";
@import url("icon.css");
@import url("baguetteBox.min.css");
@import url("timeTo.css");
@font-face {  font-family: 'Open Sans';font-style: normal;font-weight: 300;  src: local('Open Sans Light'),local('OpenSans-Light'),url(../fonts/open-sans-v15-latin-300.woff2) format('woff2'),url(../fonts/open-sans-v15-latin-300.woff) format('woff');}
@font-face {  font-family: 'Open Sans';font-style: normal;font-weight: 400;  src: local('Open Sans Regular'),local('OpenSans-Regular'),url(../fonts/open-sans-v15-latin-regular.woff2) format('woff2'),url(../fonts/open-sans-v15-latin-regular.woff) format('woff');}
body, a, h1, h2, h3, h4, h5, h6, p, div, blockquote, dl, dt, dd, ul, ol, li, i, em, form, fieldset, button, input, textarea, th, td,figure{ margin:0; padding:0;list-style:none;border: 0;transition: all 0.3s ease;font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 400;} 
body {position: relative;font-size: 14px;}
a{text-decoration: none;color: #333;}
a:hover{color: #06f;}
input::placeholder,textarea::placeholder{color: #bbb;}
header{background: #fff;transition: all 0.3s ease;border-bottom: 1px solid #fff;}
main{flex: 1;}
footer{background: #fff;line-height: 45px;transition: all 0.3s ease;}

/* header */
.wrapper{min-height: 100vh;flex-direction: column;display: flex;background-color: rgba(0, 0, 0, .05);position: relative;}
/*.wrapper:after{background: url(../img/doodles.webp);background-size: 650px;opacity: .3;content: "";position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: -1;}*/
#box1.active .wrapper{background: #1e1e1e;}
#box1.active,#box1.active .login input,#box1.active .login-box,#box1.active .space-header{background: #333!important;color: #ddd;}
#box1.active .login:after{display: none;}
#box1.active header,#box1.active footer,#box1.active .main .section,#box1.active .sidebar-box,#box1.active .app-feed li:first-child,#box1.active .comment-feed li:first-child,#box1.active .account-wrap,#box1.active .paypal-wrap,#box1.active .article-detail .main,#box1.active .article-comment .section,#box1.active .article-list li,#box1.active main .downloand-wrap{background: #262626;border-color:#2e2e2e;}
#box1.active a{color: #ddd;}
#box1.active .account-main .author-list li{background-image: linear-gradient(120deg, #333 45%, #222);border: 1px solid hsl(0deg 0.13% 3.96% / 63%);}
#box1.active .login{background-color: rgba(0, 0, 0, .5);}
#box1.active .plan label{background-color: #444;border-color: #555;}
#box1.active .plan input:checked + label{background-color: #222;}
#box1.active .paypal{background: rgba(0, 0, 0, .8);}
#box1.active .category a{color: #06f;}


.wrap{width:100%;max-width:1080px;margin:auto;padding: 0 10px;flex: auto;}
.topbar{display: flex;flex-wrap: wrap;align-items: stretch;}
.logo{flex: 0 0 10%;}
.logo a,.active .logo a{background-size: 100%;text-indent:-9999px;font-size:0;display:block;width:100px;height:45px;}
 /* only safari */
_::-webkit-full-page-media, _:future, :root .logo a,_::-webkit-full-page-media, _:future, :root .active .logo a,.nav li a{background-size: 100%;width:100px;height:45px;transition-property: background-color, color; /* 覆盖掉 all */}
_::-webkit-full-page-media, _:future, :root .level{font-family: inherit;}
_::-webkit-full-page-media, _:future, :root .search #keywords{transition: none;}
.search{display: grid;place-items: center;flex:1;justify-content: left;}
.search #keywords{border-radius: 15px;height: 26px;width:200px;padding: 0 20px 0 30px;background-size: 16px;box-shadow: 0 0 1px #aaa;margin-left:20px;font-size: inherit;}
.search #keywords:focus-visible{border: none;box-shadow: 0 0 1px #000;outline:0;background-size: 16px;}
.active .search #keywords:focus-visible{box-shadow: 0 0 1px #fff;}
.nav{flex:0 0 auto;}
.nav-ico{text-indent: -9999px;font-size: 0;background-size: 45%;display: block;line-height: 45px;width: 50px;}
.has-sub{ position:relative; }
/* 子菜单默认隐藏 */
.sub {display:none;position:absolute;top:100%;left:0;min-width:180px;margin-top:0;background:rgba(255, 255, 255, 1);box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 20px 40px;z-index:10;}
.active .sub{background:rgba(50, 50, 50, 1);box-shadow:#999 0px 0px 1px, #333 0px 20px 40px;}
/* Hover 或 keyboard focus 时显示子菜单 */
.has-sub:hover .sub,.has-sub:focus-within .sub {display:block;}
.nav li a{line-height: 45px;display: block;padding: 0 0 0 55px;}
.nav li a:hover{background-color: #f7f7f7;}
.account{flex:0 0 auto;line-height: 45px;display: flex;align-items: center;justify-content: right;position: relative;z-index: 10;}
.login-btn{padding: 0 0 0 15px;display: inline-block;background-size: 12px;}
.account .btn{background: #e5e5e5;height: 22px;width: 40px;border-radius: 22px;text-indent: -9999px;font-size: 0;cursor: pointer;position: relative;}
.account .active{background-color: #444;}
.account .btn:after{content: "";position: absolute;width: 16px;height: 16px;top: 3px;left: 3px;background-color: #fff;border-radius: 100%;box-shadow: 0 1px 3px rgba(0, 0, 0, .3);background-size: 65%;transition: all 0.3s ease;}
.account button.active:after{right: 3px;left: inherit;transition: all 0.3s ease;}
.account-avatar{display: flex;align-items: center;}
.account-avatar img{width: 22px;height: 22px;margin-right:5px;border-radius: 100%;box-shadow: 0 0 1px #000;}
.account-menu li a{line-height: 45px;display: block;padding: 0 0 0 55px;}
.account-menu li a:hover{background-color: #f7f7f7;}
#box1.active .account_menu li a:hover{background-color: inherit;}
.level{font-style: normal;font-size: 0.6em;margin: 0 0 0 5px;background: linear-gradient(135deg, #F5F5F5, #E0E0E0);padding: 0 5px;line-height: 13px;border-radius: 10px;color: #fff;;text-shadow: 0 1px 1px rgba(0,0,0,0.4);box-shadow:rgba(0, 0, 0, 0.2) 0 1px 1px,rgba(0, 0, 0, 0.2) 0 1px 5px;font-family: monospace;font-weight: 600;}
.level-2,.plan dd:nth-child(5) i{background: linear-gradient(135deg, #000000, #434343, #edc700);color: #FFD700;}
.level-3,.plan:nth-child(3) dd:nth-child(5) i{background: linear-gradient(90deg, #1E3A8A, #3B82F6);color: #FFD700;}
.level-4{background: linear-gradient(315deg, #cbcbcb, #212121, #000);}
.level-{display: none;}

/* featured-article */
.featured-article{margin-bottom: 30px;width: 100%}
.featured-article ul{display: flex;flex-wrap: wrap;height: 340px;position: relative;}
.featured-article li{flex: 0 0 25%;position: relative;overflow: hidden;height: 50%;}
.featured-article li .article-img{width: 100%;height: 100%;text-indent: -9999px;position: relative;}
.featured-article li .article-img:after{opacity: .8;position: absolute;content: "";display: block;width: 100%;top: 0;bottom: 0; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 90%,#000 100%);}
.featured-article li .desc{display: none;}
.featured-article li .title{position: absolute;left:20px;right:20px;bottom: 20px;}
.featured-article li .article-author{position: absolute;;left:20px;right:20px;bottom: -30px}
.featured-article li h2{line-height: 20px;}
.featured-article li h3{margin-bottom: 5px;}
.featured-article li h2 a{font-size: 16px;color: #fff;}
.featured-article li h3 a{font-size: 11px;background: #06f;padding: 0 3px;border-radius: 3px;color: #fff;}
.featured-article li:first-child{flex: 0 0 50%;height: 100%;border-radius: 5px 0 0 5px;overflow: hidden;}
.featured-article li:first-child .article-img{height: 100%;}
.featured-article li:nth-child(2){flex: 0 0 50%;height: 50%;border-radius: 0 5px 0 0;overflow: hidden;}
.featured-article li:nth-child(3){position: absolute;bottom: 0;left: 50%;width: 25%;}
.featured-article li:nth-child(4){position: absolute;bottom: 0;right: 0;width: 25%;border-radius: 0 0 5px 0;overflow: hidden;}
.featured-article li:first-child h2 a,.featured-article li:nth-child(2) h2 a{font-size: inherit;line-height: initial;}


/* app-list */
main .wrap{display: flex;flex-wrap: wrap;align-items: flex-start;margin: 30px auto;}
.main{flex:1;margin: 0 30px 0 0;position: relative;border-radius: 5px;max-width: 100%;}
.main .section{background: #fff;padding:25px;position: relative;border-radius: 5px;max-width: 678px;margin-bottom: 30px;border: 1px solid #fff;}
.display-mode{text-indent: -9999px;background-color: inherit;font-size: 0;width: 41px;height: 20px;position: absolute;right: 30px;top: 30px;cursor: pointer;box-shadow: 0 0 1px #999;border-radius: 2px;}
.display-mode:before,.display-mode:after{position: absolute;content: "";width: 20px;height: 20px;top: 0;left: 0;border-radius:2px 0 0 2px;}
.display-mode:after{right: 0;left: inherit;border-left: 1px solid #eee;border-radius: 0 2px 2px 0;}
#box1.active .display-mode:after{border-left: 1px solid #444;}
.apps-list ul{display: flex;flex-wrap: wrap;align-items: stretch;padding: 20px 0;}
.app-item{flex: 0 0 25%;text-align: center;line-height: 20px;}
.app-item a{display: block;padding-bottom: 40px;}
.app-item img{width: 75px;height: 75px;border-radius: 5px;margin: 5px 0;}
.list-2 .app-item figure{background-size: 0!important;}
.space .list-1 .app-item{flex: 0 0 30.33%;padding: 0 1.3% 1.3%;}
.list-1 .app-item figure{width: 90%;background-size: cover!important;height:150px;text-indent: -9999px;margin: 0 auto 5px;border-radius: 5px;position: relative;}
.list-1 #box2.active .app-item figure{width: 120px;height: 80px;margin: 0;}
.space .list-1 #box2.active .app-item{padding:0;}
.list-1 #box2.active .app-item sup{left:-145px;}
.list-1 #box2.active .app-item p,.list-1 #box2.active .app-item span{display: none;}
.app-item h2{font-size: inherit;position: relative;display: inline-block;}
.app-item small{color: #bbb;display: block;font-size: 0.8rem;}
.app-item sup{color: #06f;position: absolute;left: -12px;line-height: initial;font-size: 0.6rem;}
.app-item p,.app-item span,.app-item time{display: none;color: #bbb;font-size: inherit;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 360px;font-size: 0.8rem;}
#box2.active .app-item:first-child{margin-top: -10px;}
#box2.active .app-item:last-child{margin-bottom: -10px;}
#box2.active .app-item,.sidebar .app-item{flex: 0 0 100%;}
#box2.active .app-item a,.sidebar .app-item a{display: flex;flex-wrap: wrap;align-items: center;position: relative;padding: 20px;}
#box2.active .app-item a:after{position: absolute;content: "";left: 75px;bottom: 0;height: 1px;background-color:rgba(125,125,125,.1);right: 20px;}
.list-1 #box2.active .app-item a:after{left: 20px;}
#box2.active .app-item:last-child a:after{background-color: inherit;}
#box2.active .app-item img,.sidebar .app-item img{width: 50px;height: 50px;}
#box2.active .app-item .title,.sidebar .app-item .title{flex:1;text-align: left;margin: 10px;position: relative;}
#box2.active .app-item h2,.sidebar .app-item h2{position: initial;}
#box2.active .app-item sup,.sidebar .app-item sup{left: -75px;top: 50%;margin-top: -7px;}
#box2.active .app-item small,.sidebar .app-item small{display: inline-block;margin-left: 5px;font-size: inherit;color: inherit;}
#box2.active .app-item p,#box2.active .app-item span,#box2.active .app-item time,.sidebar .app-item p{display: block;}
#box2.active .app-item time{flex: 0 0 15%;text-align: right;}
#box2.active .app-item .score{flex:0 0 5%;text-align: center;}
#box2.active .app-item .stars{width: 60px;;height: 10px;position: relative;line-height: 0;}
#box2.active .app-item .stars i{position: absolute;left: 0;top: 0;bottom: 0;height: 10px;line-height: 0}

/* scroller-status */
.scroller-status{display: none;}
.scroller-status__message{text-align: center;color: #bbb;position: relative;width: fit-content;margin: 0 auto 20px;font-size: 0.8rem;}
.scroller-status__message:after{content: "";position: absolute;right: -40px;width: 30px;height: 1px;background-color: rgba(125,125,125,.3);top: 10px;}
.scroller-status__message:before{content: "";position: absolute;left: -40px;width: 30px;height: 1px;background-color: rgba(125,125,125,.3);top:10px;}
.next a{padding:0 30px;background-color: #6b86ac;border-radius: 5px;color: #fff;line-height: 32px;display: block;}
.next:after,.next:before{background: none;}

/* loader-ellips */
.loader-ellips {font-size: 20px;position: relative;width: 4em;height: 1em;margin: 10px auto;}
.loader-ellips__dot {display: block;width: 1em;height: 1em;border-radius: 0.5em;background: #555;position: absolute;animation-duration: 0.5s;animation-timing-function: ease;animation-iteration-count: infinite;}
.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {left: 0;}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }
@keyframes reveal {from { transform: scale(0.001); }to { transform: scale(1); }}
@keyframes slide {to { transform: translateX(1.5em) }}
.loader-ellips__dot:nth-child(1) {animation-name: reveal;}
.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {animation-name: slide;}
.loader-ellips__dot:nth-child(4) {animation-name: reveal;animation-direction: reverse;}


/* app-detail */
.app-header{display: flex;flex-wrap: wrap;align-items: center;}
.app-icon img{width: 100px;height: 100px;margin-right: 20px;}
.app-title{flex: 1;}
.app-title h1{font-size: 1.5rem;}
.app-title h2{color: #bbb;font-size: 1rem;margin: 5px 0 10px 0;}
.download-btn{display: inline-block;position: relative;}
.download-btn a{line-height: 30px;padding: 0 20px;border-radius: 15px;box-shadow: 0 0 1px #06f;display: inline-block;margin-right: 10px;color: #06f;position: relative;cursor: pointer;}
.download-btn a h3{font-size: inherit;}
.download-btn .level{display: none;transform: scale(.8);}
.download-btn:last-child .level{display: inline-block;position: absolute;top:50%;margin-top: -6px;margin-left: 0;}
.download-btn .level:after{position: absolute;content: "\4F1A\5458\53EF\4E0B\8F7D";right:-70px;color:#bbb;font-size: 0.8rem;text-shadow: none;font-weight: 400;line-height: 15px;}
.app-info ul{display: flex;flex-wrap: wrap;align-items: center;margin: 20px 0;padding: 20px 0;position: relative;color: #bbb;line-height: 15px}
/*
.app-info ul:after,.app-info ul:before{content: "";position:absolute;top: 0;left: 0;right: 0;height: 1px;background-color: rgba(125,125,125,.1);}
.app-info ul:before{top: inherit;bottom: 0;}
*/
.app-info ul li{flex: 0 0 20%;justify-content: center;align-items: center;display: flex;flex-direction: column;position: relative;}
.app-info ul li:after{content: "";position: absolute;top: 50%;right: 0;width: 0;height: 20px;margin-top: -10px; background-color: rgba(125,125,125,.1);line-height: 0;}
.app-info ul li:last-child:after{background-color: inherit;}
.app-info ul li a{display: flex;align-items: center;color: #bbb;}
.app-info ul li a:hover{color: #06f;}
.app-info ul .author,.app-info ul .dev{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.app-info ul .author a{margin-bottom: 5px;}
.app-info ul .author a span{max-width: 80px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.app-info ul .author a .level{transform: scale(.8);}
.app-info ul .author img{width: 20px;height: 20px;border-radius: 100%;margin-right: 5px;}
.app-info ul .author .time{font-size: 0.8rem;cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:90%;}
.app-info ul .rating .reviewers{font-size: 0.8rem;}
.app-info ul .rating .score{font-size: 1rem;margin: 0 0 2px 0;}
.app-info ul .rating .stars{width: 60px;;height: 10px;position: relative;line-height: 0;}
.app-info ul .rating .stars i{position: absolute;left: 0;top: 0;bottom: 0;height: 10px;line-height: 0}
.app-info ul .rec_app a{padding:0 12px;flex-direction: column;position: relative;font-size: 0.7rem;line-height: 14px;}
.app-info ul .rec_app a:after,.app-info ul .rec_app a:before{content: "";position: absolute;left: 0;top: 0;bottom: 0;width: 20px;}
.app-info ul .rec_app a:before{right: 0;left: inherit;}
.app-info ul .rec_app a i{display: block;width: 30px;text-align: center;font-style: normal;}
.app-info ul .rec_app p{display: block;text-align: center;color: #bbb;font-style: normal;font-size: 0.7rem;}
.app-info ul .dev p,.app-info ul .file p{margin-bottom: 5px;font-size: 0.8rem;}
.app-info ul .dev a{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 90%;display: block;}

.app-screenshots,.app-description,.app-updated{overflow: hidden;line-height: 30px;}
.app-screenshots{margin-bottom: 20px;}
.app-screenshots .gallery{margin-top: -8px;padding: 1px;}
.app-screenshots .gallery a{display: block;height: 220px;background-size: cover;border-radius: 11px;text-indent: -9999px;box-shadow: 0 0 1px #aaa;}
.app-screenshots .gallery a img{display: none;}
.app-screenshots .gallery .swiper-wrapper{padding: 20px 0;z-index: -1;}
.swiper-pagination{bottom:0!important;line-height: 0;}
.app-video{max-height: 220px;}
.app-video h3{text-indent: -9999px;}
.app-video video{height: 220px;border-radius: 11px;border: 1px solid #f1f1f1;background: #f1f1f1;}
.game .gallery a,.game .app-video video{border: none;}
.gallery .swiper-button-next:after, .gallery .swiper-button-prev:after{font-size: 1.2rem;background-color: rgba(0, 0, 0, .6);color: rgba(255, 255,255, .8);padding: 8px 5px;border-radius: 5px;}
.article {max-height: 150px; /* 超出此高度则隐藏 */overflow: hidden;position: relative;transition: max-height 0.3s ease;margin: 5px 0 0 0;}
.app-description .article *,.app-updated .article *{font-size: inherit!important;}
.article h1,.article h2,.article h3{font-size: inherit;;}
.category a{color: #bbb;margin-right: 10px;padding-left: 10px;position: relative;}
.category a:after{position: absolute;content: "#";left: 0;}
input.more-toggle {display: none;}
.more-label {display: inline-block;color: #06f;cursor: pointer;font-size: inherit;}
.more-toggle:checked + .article {max-height: none;}
.more-toggle:checked + .article + .more-label {display: none;}

/* sidebar */
.sidebar{max-width: 320px;}
.sidebar-box{background: #fff;padding:25px;border-radius: 5px;margin-bottom: 30px;width: 270px;border: 1px solid #fff;}
.sidebar-box .app-item a{padding: 10px 0;}
.sidebar-box .app-item .title{margin: 0 0 0 10px;}
.sidebar-box .app-item p{max-width: 200px;font-size: 0.8rem;}


/* comment */
.comment-box{max-width: 960px;}
.comment-box .main{margin: 0;}
.comment-box .main .section{max-width: 100%;}
.comment h2{margin-bottom: 15px;}
.star{width: 100px;height: 20px;display: inline-block;vertical-align: bottom;position: relative;}
.star li{float: left;}
.star li a{display: block;width:20%; height: 20px;position: absolute;z-index: 1;text-indent: -9999px;}
.star1 { left: 0; }
.star1:hover { width:20%; }
.star2 { left:20%; }
.star2:hover { width: 40%; }
.star3 { left: 40%; }
.star3:hover { width: 60%; }
.star4 { left: 60%; }
.star4:hover { width: 80%; }
.star5 { left: 80%; }
.star5:hover { width: 100%; }
.post-comment{margin: 10px 0;}
.post-comment textarea{display: block; box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);border-radius: 5px;width: -webkit-fill-available;background: rgba(125, 125, 125, .03);border: 1px solid rgba(125, 125, 125, .1);height: 100px;padding: 10px;font-size: inherit;margin-bottom: 10px;}
.post-comment textarea:focus-visible,.comment-code-box input:focus-visible,.post-wrap li input:focus-visible,.login input:focus-visible{box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);outline:0;border: 1px solid rgba(125, 125, 125, .3);}
.comment-btn{display: flex;align-items: center;}
.comment-face-box{flex: 1;}
.comment-face{max-width:22px;height: 22px;overflow: hidden;}
.comment-face:hover{max-width: 260px;}
.comment-face img{width: 22px;height: 22px;}
.comment-code-box{font-size: 0.8rem;margin-right: 10px;color: #bbb;}
.comment-code-box span{cursor: pointer;margin-right: 5px;}
.comment-code-box img{display: none;vertical-align: bottom;height: 30px;width: 70px;border-radius:2px;margin-right: 5px;}
.comment-code-box input{height: 30px;max-width: 60px;padding: 0 10px;font-size: inherit;box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);border-radius: 5px;background: rgba(125, 125, 125, .03);border: 1px solid rgba(125, 125, 125, .1);}
.comment-btn .btn{border: none;background: #6b86ac;line-height: 33px;padding: 0 30px;border-radius:5px;color:#fff;font-size: inherit;cursor: pointer;}
.comments ul {counter-reset: section;min-height: 60px;position: relative;}
.app-feed,.comment-feed{position: relative;}
.app-feed:after,.comment-feed:after{position: absolute;content: "\2014\0020\6682\65E0\5185\5BB9\0020\2014";color: #bbb;top: 20px;left:0;-webkit-font-smoothing: antialiased;font-size: 0.8rem;}
.comment-item{padding: 20px 0;position: relative;}
.app-feed li:first-child,.comment-feed li:first-child{background-color: #fff;z-index: 5;}
.comments li:before{counter-increment: section;content: "#" counters(section, ".") " ";position: absolute;right: 0;display: block;font-size: 0.75rem;top: 25px;line-height: 16px;color: #bbb;}
.comments h2{color: #bbb;}
.comments h2 a{margin-right: 5px;}
.num-0, .num-1, .num-2, .num-3, .num-4, .num-5, .num-6, .num-7, .num-8, .num-9, .num-10 {display: none;}
.comment-header{display: flex;align-items: center;padding-bottom: 5px;}
.comment-header .level{transform: scale(.8);}
.comment-header img{width: 30px;height: 30px;border-radius: 100%;box-shadow: 0 0 1px #000;}
.comment-user{margin-left: 10px;flex-direction: column;display: flex;}
.comment-user a{display: flex;align-items: center;}
.comment-user time{font-size: 0.75rem;color: #bbb;}
.comment-body{padding: 10px 20px 10px 40px;}
.comment-body img{width: 30px;vertical-align: middle;}
.comment-footer{padding: 5px 20px 0 40px;display: flex;align-items: center;}
.ecomment{padding: 10px;background-color: rgba(125,125,125,.06);border-radius: 5px;margin-bottom: 10px;}
.ecomment .comment-body{color: #999;padding-left: 10px;}
.ecomment .comment-header{padding-bottom: initial;}
.ecomment .comment-user{flex-direction: inherit;align-items: center;}
.ecomment .comment-user time{margin-left: 5px;}
.comment-footer a{display: inline-block;width: 18px;height: 18px;margin-left: 18px;text-indent: -9999px;font-size: 0;overflow: hidden;}
.comment-footer i{font-style: normal;color: #bbb;font-size: 0.8rem;margin-left: 3px;}
.comment-footer i:nth-of-type(2){display: none;}
.comment-footer a:nth-of-type(1){margin-left:inherit;}
.comment-footer a:nth-of-type(3){transform: scaleY(-1);display: none;background-position-y: top;}
.comment-footer:hover a:nth-of-type(3),.comment-footer:hover i:nth-of-type(2){display: inline-block;}
/* Recommended-comments */
.sidebar-box .comment-item{padding: 10px 0;}
.sidebar-box .comment-item:first-child{margin-top: 10px;}
.sidebar-box .comment-item .ecomment{display: none;}
.sidebar-box .comment-header a{line-height: 0;font-size: 14px;}
.sidebar-box .comment-user{flex-direction: inherit;color: #bbb;font-size: 0.8rem;}
.sidebar-box .comment-user time{margin-left:5px;font-size: inherit;color: inherit;}
.sidebar-box .comment-body{padding: 5px 5px 5px 15px;margin-left: 25px;position: relative;display: inline-block;}
.sidebar-box .comment-body:after{content: "\201C";position: absolute;left: 0;top: -3px;font-size: 1.5rem;color: #ddd;}
.sidebar-box .comment-body:before{content: "\201D";position: absolute;right: -10px;bottom: 0;font-size: 1.5rem;color: #ddd;}
.sidebar-box .comment-item .app-item a{padding:5px;margin:10px 0 0 35px;background-color: rgba(125,125,125,.06);border-radius: 5px;}
.sidebar-box .comment-item .app-item img{margin: 0 5px 0 0;width:30px;height:30px; }
.sidebar-box .comment-item .app-item figure{text-indent: -9999px;width: 30px;height: 30px;margin-right: 5px;background-size: 150px!important;border-radius: 5px;}
.sidebar-box .comment-item .app-item h2{flex: 1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: left;font-size: 0.8rem;}

/* post-app */
.post-wrap{padding: 20px;}
.post-wrap li{display: flex;align-items: center;color: #666;padding: 10px 0;}
.post-wrap li h3{width: 80px;font-size: inherit;padding-right: 10px;text-align: right;font-weight: 400;}
.post-wrap li input{height: 30px;max-width: 150px;padding: 0 10px;font-size: inherit;box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);border-radius: 5px;background: rgba(125, 125, 125, .03);border: 1px solid rgba(125, 125, 125, .1);}
.post-1 li input{max-width:100%;}
.post-wrap li select{font-size: inherit;border: none;height: 30px;color: #666;background-color: inherit;}
.post-wrap li .appicon{position: relative;width: 80px;height: 80px;}
.post-wrap li .appicon img{width: 80px;height: 80px;position: relative;z-index: 10;}
.post-wrap li .appicon input{position: absolute;left: 0;top: 0;width: 80px;height: 80px;padding: 0;text-indent: -9999px;overflow: hidden;cursor: pointer;z-index: 20;}
.post-wrap li .appicon:after{position: absolute;background-size: 30px;content: "";left: 0;right: 0;width: 80px;height: 80px;}
.post-list{display: flex;align-items: center;color: #666;margin:10px 0;}
.post-list div input{max-width: 70px;margin-right: 10px;color: #666;font-size: inherit;}
.post-list div{width: 100px;display: flex;align-items: center;}
.post-list div:nth-of-type(1),.post-add{display: none;}
.post-list div:nth-of-type(3){flex: 1;width: inherit;}
.post-list div:nth-of-type(3) input{max-width: 185px;}
.post-list div:nth-of-type(3) select,.post-list div:nth-of-type(4) select{width: 78px;font-size: inherit;box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);border-radius: 5px;background: rgba(125, 125, 125, .03);border: 1px solid rgba(125, 125, 125, .1);margin-right: 10px;}
.post-list div:nth-of-type(4) select,.post-list div:nth-of-type(4),.post-list div:nth-of-type(5){width: 60px;}
.post-list div:nth-of-type(5) input{width: 30px;}
.post-add input{width: 20px;margin-right: 5px;text-align: center;}
.post-add .add-btn{border: none;background: #6b86ac;padding: 0 30px;border-radius:5px;color:#fff;font-size: inherit;cursor: pointer;width: inherit;}
.post-wrap .showkey a{color: #666;}
.post-wrap .showkey input{width: 70px;margin-right: 10px;color: #666;font-size: inherit;}
.post-wrap .showkey img{height: 30px;width: 70px;border-radius:2px;vertical-align: bottom;}
.post-wrap li button{margin: 20px auto;width: 90%;border: none;background: #6b86ac;padding: 0 30px;border-radius:5px;color:#fff;font-size: inherit;cursor: pointer;height: 35px;;}

/* account-dashboard */
.account-dashboard{position: relative;margin: 30px 0;display: flex;box-sizing: border-box;width: 100%;}
.account-dashboard h1{padding: 20px;}
.account-nav{width: 220px;margin: 50px 20px 20px;}
.account-nav img{width: 80px;border-radius: 100%;border: 1px solid #f1f1f1;}
.account-nav h3{line-height: 2rem;margin-top: 5px;;}
.account-nav h4{font-weight: 400;color: #999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.account-nav ul{margin-top: 40px;}
.account-nav li{line-height: 2rem;}
.account-main{flex: 1;padding: 30px;margin: 20px 0;}
.account-main ul{display: flex;margin: 20px 0;flex-wrap: wrap;align-items: stretch;position: relative;}
.account-main ul:after{top: 0;}
.author-list li{flex: 0 0 48%;box-sizing: border-box;background-image: linear-gradient(120deg,#fff 45%,#f5f5f5);border: 1px solid hsla(240,6%,83%,.63);filter: drop-shadow(0 10px 10px rgba(76,76,109,.07059));padding:20px;min-height: 180px;border-radius: 10px;margin: 0 25px 25px 0;position: relative;}
.author-list li:nth-child(even){margin-right: 0;}
.author-list .information a,.author-list .security a{display: block;width: 100%;height: 100%;}
.author-list .d1,.author-list .d5{text-indent: -9999px;}
.account-wrap {background: #fff;border-radius: 5px;}
.account-main .my-list li{margin-bottom:10px;display: block;width: 100%;border-bottom: 1px solid rgba(125, 125, 125, .08);padding-bottom: 10px;line-height: 40px;margin-right: 30px;z-index: 1;}
.account-main .my-list li img{width: 40px;vertical-align: bottom;display: inline-block;}
.account-main .my-list li figure{background-size: 0!important;display: inline-block;margin-right: 5px;border-radius: 5px;}
.account-main .m-1 li figure{width: 80px;height: 50px;background-size: cover !important;text-indent: -9999px;}
.account-main .my-list li i{font-style: normal;color: #999;float: right;}
.account-main .my-list li i a{transform: scaleX(-1);display: inline-block;margin: 0 5px;}
.account-main .my-list li i a:first-child{margin:0 20px;}
.account-main .my-list li i a:last-child{margin-right: 10px;}
.account-main .my-list li p{line-height: 25px;display: inline-block;}
.account-main .m-2 .t1,.account-main .m-1 .t2{display: none;}
.account-main .t1{max-width: 280px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: inline-block;    vertical-align: middle;}
.account-main .m-1 li img{vertical-align: middle;}
.account-main h2{line-height: 1.5rem;}
.account-main h2 a{color: #06f;}
.account-main h4{line-height: 3rem;margin-bottom: 20px;}
.account-main h3.m-nav{margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid rgba(125, 125, 125, .1);}
.account-main h3 b a{display: inline-block;color: #999;margin: 0 5px;}
.account-main h3 b.current a{color: #333;}
.account-main li span{display: block;line-height: 2.4rem;color: #999;}
.account-main .level-box span b{color: #f00;}
.account-main .bill{min-height: 100px;}
.account-main .bill li{display: flex;flex-wrap: wrap;align-items: stretch;}
.account-main .bill .none{margin-top: 50px;}
.account-main .bill li:nth-child(1){height: 30px;}
.account-main .bill li:nth-child(1)  h3{font-size: inherit;}
.account-main .bill-detail span{display: inline-block;color: inherit;font-size: inherit;flex: 0 0 25%;box-sizing: border-box;text-overflow: ellipsis;overflow: hidden;height: 40px;}
.bill-detail span:nth-child(2),.bill-detail span:nth-child(5){display: none;}
.account-main .level{font-size: 0.8rem;padding: 5px 15px;border-radius: 30px;margin-left: 0;}
.account-main .level-box s{text-decoration: none;float: left;margin-top: 50px;line-height: 25px;color: #999;}
.account-main .level-box a.go-vip{font-size: 13px;padding: 3px 28px 3px 10px;border-radius: 20px;color: #fff;margin-top:48px;display: inline-block;background-color: #f30;;border: 1px solid #f30;float: right;background-position-x:60px}
.level-box i.s-1{display: inline-block;font-style: normal;padding: 2px 15px;font-size: 14px;border-radius: 20px;}
.level-box span.d-1,.level-box span.d-4,.level-box span.day0{text-indent: -9999px;}
.level-box span.day{padding-left: 2px; line-height: 3rem;}
.level-box span.d-2,.level-box span.d-3{color: #444;}
.account-main .level-box a.v-2,.account-main .level-box a.v-3{opacity: .2;}
.post-wrap li .up-avatar{width: 100px;height: 100px;}
.post-wrap li .up-avatar:after{background: none;content: "\002B";color: rgba(125, 125, 125, .3);font-size: 3rem;text-align: center;line-height: 94px;background-color: rgba(125, 125, 125, .05);border-radius: 50%;width: 94px;height:94px;border: 3px solid rgba(125, 125, 125, .1);;}
.post-wrap li .up-avatar img{width: 100px;height: 100px;border-radius: 50%;z-index: 5;position: relative;}
.post-wrap li .up-avatar input{background: none;border: none;box-shadow: none;width: 100px;height: 100px;}
.space-img{padding: 10px 0;}
.account-main .space-img li{border: none;background-position: center!important;}
.account-main form{;}
.space-img li input{width: 20px;height:20px;margin: 10px;}
.edit-account li{flex: 0 0 100%;}
.edit-account li textarea{box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);border-radius: 5px;width:50%;background: rgba(125, 125, 125, .03);border: 1px solid rgba(125, 125, 125, .1);height: 50px;padding: 10px;font-size: inherit;}
.account-main .space-img{margin: 0 0 0 90px;}
.space-img li{flex: 0 0 45%;margin: 0 2% 2% 0;background-color: #f7f7f7;border-radius: 5px;}
.bt{margin: 20px auto;width: 90%;border: none;background: #6b86ac;padding: 0 30px;border-radius:5px;color:#fff;font-size: inherit;cursor: pointer;height: 35px;;}
.edit-account .bt{margin: 20px 0 20px 90px;width: 53%;}

/* pay-listt */
.upgrade ul{margin: auto;}
.upgrade li.plan{flex: 0 0 30.1%;box-sizing: border-box;position: relative;margin:50px 1.6% 30px;}
.upgrade li.plan:nth-child(2)::after{position: absolute;content: "\6700\591a\4eba\9009\62e9";background: linear-gradient(60deg, rgb(83, 219, 255), rgb(59, 158, 255));box-shadow: 0 10px 20px rgb(0 0 0 / 5%);line-height: 2.5rem;border-radius: 7px 7px 0 0;color: #fff;text-align: center;left: 0;right: 0;top: -40px;font-size: 1rem;}
.plan{display: inline-block;position: relative;}
.plan input{-webkit-appearance:radio;position: absolute;width: 100%;height: 91%;opacity: 0;}
.plan s{position: absolute;color: #bbb;top: 65px; left: 50%;display: block;width: 60px;margin-left: -30px;text-align: center;font-size: 18px;}
.plan h2{display: block;text-align: center;margin: 30px 0 5px;font-size: 24px;color: #f30;}
.upgrade li.plan:nth-child(2) label{border-radius: 0 0 7px 7px;}
.plan dl{padding-bottom: 30px;}
.plan dt{text-align: center;;font-size: 48px;margin-top: 35px;}
.plan dt sup{font-size: 20px;vertical-align: super;margin-right: 8px;font-weight: 400;}
.plan dt em{font-size: 16px;font-style: normal;margin-left: 5px;font-weight: 400;}
.plan dd b{color: #f30;position: relative;margin-right: 2px;display: none;}
.plan dd{display: block;line-height: 20px;padding: 8px 20px 8px 22px;-webkit-font-smoothing: initial;font-weight: 400;}
.plan dd:nth-child(4) i{background:none;color: #f30;}
.plan dd:nth-child(4) i,.plan dd:nth-child(5) i{text-indent: initial;width: inherit;}
.plan dd:nth-child(5) i{padding: 3px 8px;margin-right: -6px;font-size: 0.7rem;}
.plan dd:nth-child(5) i.u6{background: #f30;}
.plan dd:nth-child(6) b:after{position: absolute;height: 1px;bottom: -5px;border-bottom:2px dashed #00d719 ;left: 0;right: 0;content: "";}
.paymethod{display: inline-block;margin: 20px 13px 30px;position: relative;}
.paymethod input{-webkit-appearance:radio;position: absolute;width: 100%;height: 100%;opacity: 0;}
.paymethod label{position: relative;display: block;cursor: pointer;background-color: #fff;border-radius: 7px;overflow: hidden;border: 2px solid #eee;width: 160px;height: 50px;}
.paymethod input:checked + label{/*background-color: #f1f6fb;*/border: 2px solid #f30;box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);}
.paymethod label.pay-5{background: url(../img/tenpay.png) center no-repeat;background-size: 80%;background-color: #fff;}
.paymethod label.pay-4{background: url(../img/alipay.png) center no-repeat;background-size: 55%;background-color: #fff;}
.upgrade button{width: 97%;margin: 20px auto;height: 42px;;display: block;border: none;cursor: pointer;border-radius: 5px;}
.paymethod label i{text-indent: -9999px;display: inline-block;width: 100%;height: 100%;}
.paypal,.paypal-con{display: none;}
.paymethod label.paypal-btn{background: url(../img/paypal.svg) center no-repeat;background-size: 70%;background-color: #fff;}
.paypal-con:checked ~ .paypal{display: block;}
.paypal{position: fixed;width: 100%;background: rgba(0, 0, 0, .3);top: 0;left: 0;right: 0;bottom: 0;z-index: 9;}
.paypal-wrap{position: relative;top:30%;background: #fff;box-shadow: 0 0 5px #888;max-width: 600px;margin: auto;padding: 25px 30px 60px;border-radius: 5px;text-align: center;}
.paypal .close{display: block;}
.paypal .back{position: absolute;width: 100%;height: 100%;}
.paypal-wrap h2{margin-bottom: 20px;text-align: left;border-bottom: 1px solid rgba(125, 125, 125, .1);padding-bottom: 10px;font-size: 24px;font-weight: 400;line-height: 40px;}
.paypal-wrap b{color: #f30;margin: 0 0 25px;display: block;text-decoration: underline;text-underline-position: under;font-weight: 400;}
.close{width: 32px;height: 32px;font-size: 28px;line-height:30px;text-align: center;right: -12px;top: -12px;background: #fff;border-radius: 32px; box-shadow: 0 0 10px #999;color: #333;padding-right: 0;position: absolute;cursor: pointer;}
.promotion{width: 91%;margin: 20px auto;padding: 15px 20px 15px 25px;position: relative;border-radius: 5px;color: #fff;background: #ff8a8a;display: flex;align-items: center;}
.promotion h4{font-size: 1.5rem;;display: inline-block;color: #fff;margin:0;}
.promotion h4 b{font-size: 1.8rem;vertical-align: bottom;}
#countdown-2{flex: 1;display: flex;align-items: center;justify-content: right;margin-top:-12px;position: relative;}
#countdown-2:after{position: absolute;content: "\5269\4F59";left: 65px;font-size: 1rem;color: #fff;font-weight: 400;}
.promotion .timeunit{position: absolute;right: 0;bottom: 12px;;font-size: 0.8rem;}
.promotion .timeunit i{font-style: normal;margin-right: 40px;font-size: 0.7rem;}
.promotion .timeunit i:nth-child(3){margin-right:50px;}
.promotion .timeunit i:nth-child(2){margin-right: 45px;}
.promotion .timeunit i:nth-child(1){margin-right: 35px;}
.promotion .timeTo span{color: #fff;font-size: 1.2rem;font-weight: 400;}
.promotion .timeTo div{border-radius: 5px;background: #fff!important;line-height: 30px;font-weight: 400;font-size: 1.2rem;color: #ff8a8a;}
.timeTo ul{padding-left: 4px;}

/* search */
.search-box form{display: flex;align-items: center;padding: 10px 0 10px;}
.search-box #keyboard{height: 40px;padding:0 80px 0 10px;border-radius:5px;box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);background: rgba(255, 255, 255, .8);border: 1px solid rgba(125, 125, 125, .3);font-size: inherit;flex: 1;}
.search-box .bt{width: 100px;height: 42px;margin: 0;}
.search-box select{height: 36px;width: 60px;border: none;margin-left:-75px;margin-right:20px;font-size: inherit;background: none;}
.kwd a{margin: 10px;padding-left: 10px;position: relative;color: #06f;}
.kwd a:after{position: absolute;content: "#";left: 0;}


/* author-space */
.space{flex-direction: column;max-width: 960px;}
.space-bg{width: 100%;height: 300px;border-radius: 5px 3px 0 0;background-color: #708090!important;}
.space .main{margin:0;width: 100%;}
.space-header{width: 100%;display: flex;background: #fff;}
.space-header h1{display: flex;align-items: center;}
.space-header img{width: 150px;height: 150px;border-radius: 100%;border: 4px solid #fff;margin: -79px 15px 0 40px;background: #fff;box-shadow: 0 0 2px #aaa;}
.space-details {padding: 5px 20px 30px 0}
.space-details .level{padding: 4px 10px 3px 10px;font-size: .8rem;}
.space-details ul{display: flex;align-items: center;color: #bbb;font-size: 0.8rem;}
.space-details li{flex: 0 0 auto;margin: 5px 15px;position: relative;}
.space-details li:first-child{margin-left: 0;}
.space-details li:after{position: absolute;content: "\2022";font-size: 0.9rem;right: -18px;line-height: 18px;}
.space-details li:last-child:after{content: "";}
.space-details p{line-height: 20px;color: #bbb;border-bottom: 1px dotted #bbb;display: inline-block;font-size: 0.8rem;}
.space-tab{font-size: 0.9rem;height: 30px;}
.space-tab a{margin: 0 0 0 20px;color: #bbb;}
.space .main .section{max-width: 100%;padding-bottom: 40px;}
.space .app-feed:after{left: 20px;}

/* article-list */
.article-list li{background-color: #fff;margin-bottom: 30px;position: relative;border-radius: 5px;overflow: hidden;border: 1px solid #0000000d;}
.article-list li a{display: flex;}
.article-list li .article-img{flex: 0 0 50%;height: 200px;text-indent: -9999px;}
.article-list li .title{flex: 1;padding:30px 20px 20px;}
.article-list li .title h2{margin:initial;display: inherit;}
.article-list li .title p{display: none;}
.article-author{display: flex;align-items: center;}
.article-list li .article-author{position: absolute;bottom: 20px;left: 50%;right: 0;padding:0 20px;}
.article-author a{align-items: center;display: flex;}
.article-author img{width: 25px;height: 25px;border-radius: 100%;margin-right: 5px;}
.article-author .post-time{color: #bbb;font-size: 0.8rem;margin-left: 5px;}
.article-author span,.post-info span{text-align: right;flex: 1;}
.article-author span i,.post-info span i{margin-left: 20px;padding-left:20px;font-size: 0.8rem;font-style: normal;color: #bbb;}

/* article-detail */
main .article-detail{max-width: 100%;flex-direction: column;padding: 0;margin:30px auto;}
.article-detail .main{margin:-100px 0 0;width: 100%;background-color: #fff;}
.article-detail .section{margin: auto;padding:140px 40px 40px; max-width: 720px;}
.article-detail .article-img{background-size: cover!important;width:800px;height: 400px;margin: auto;z-index: 1;}
.article-detail .article-author{display: flex;align-items: center;padding: 0 0 20px 0;}
.article-detail h1{margin-bottom: 30px;}
.article-txt{line-height: 40px;margin-bottom: 30px;font-size: 1rem;}
.article-txt img{max-width: 98%!important;margin: 1%;}
hr{border:none;border-bottom: 1px solid rgba(125, 125, 125, .1);margin: 20px 0;}
.article-txt ol li{list-style-type: decimal;margin-left: 20px;}
.article-txt ul li{list-style-type: disc;margin-left: 20px;}
.article-txt pre{position: relative;box-shadow:0 5px 30px rgba(125,125,125,.1);max-width: 100%;margin: 20px auto;background: #000;color: #28FE14;padding: 40px 15px 20px;border-radius: 6px;overflow-x: auto;}
.article-txt pre:before {position: absolute;content: '';background: #f2f2ef;display: block;height: 30px;top: 0;z-index: 10;left: 0;right: 0;border-radius: 5px 5px 0 0;}
.article-detail article.text img{margin: inherit;}
.article-detail article.text pre::-webkit-scrollbar{height:6px;background:#eee;border-radius:10px;}
.article-detail article.text pre::-webkit-scrollbar-thumb{border-radius:10px;background:#ccc;}
.article-detail article.text pre:hover::-webkit-scrollbar-thumb{background: #aaa;}
main .article-comment{max-width: 800px;flex-direction: column;margin:auto;}
.article-comment .section{width: -webkit-fill-available;background-color: #fff;padding: 20px;margin-bottom: 30px;border-radius: 5px;}
.article-comment #tosaypl span:nth-child(2),.article-comment #tosaypl .star,.forum-detail #tosaypl span:nth-child(2),.forum-detail #tosaypl .star{display: none;}
.yoast-table-of-contents{border: 1px solid #6b86ac;padding:0 20px 20px;border-radius: 5px;margin-top:20px;}
.article-txt h2{margin: 20px 0 5px;}
.yoast-table-of-contents h2{margin: 10px 0;border-bottom: 1px solid #f1f1f1;padding-bottom: 5px;}
.yoast-table-of-contents a{color: #6b86ac;}
.schema-faq div{border-radius: 5px;border: 1px solid #6b86ac;padding:10px 15px;margin: 0 0 10px;}
.schema-faq div strong{border-bottom: 1px solid #f1f1f1;display: block;}
.article-txt table{width: 100%;}
.article-txt table td{border-bottom: 1px solid #f1f1f1;border-left: 1px solid #f1f1f1;}

/* forum-list */
.article-wrap h2{display: block;margin: 0 0 20px;position: relative;}
.article-wrap h2 a{margin:0 20px 0;font-size: 0.9rem;position: relative;color: #999;}
.forum-wrap .article-list li {padding: 25px 30px;}
.forum-wrap .article-list li .article-author{position: initial;padding: initial;left: initial;bottom: initial;}
.forum-wrap .article-list li .article-author img{width: 30px;height: 30px;}
.forum-wrap .article-list li a{flex-direction: column;}
.forum-wrap .article-list li .article-author a{flex-direction: initial;}
.forum-wrap .article-list li .title{padding: 15px 0;}
.forum-wrap .article-list li .article-img{width: 240px;height: 160px;flex: auto;margin-bottom: 15px;border-radius: 5px;}
.post-info{color: #bbb;display: flex;align-items: center;}
.post-info a{color: #bbb;}
a.new-post {line-height: 40px;background: #6b86ac;color: #fff;border-radius: 5px;text-align: center;margin: -5px 0 15px;display: block;align-items: center;}
a.new-post i{font-style: normal;margin-right: 2px;font-size: 1.3rem;vertical-align: middle;text-indent: -9999px;width: 18px;height: 18px;display: inline-block;margin-top: -2px;}
.forum-detail .article-author{margin: 15px 0;}
.forum-detail .article-img{max-width: 740px;height: 350px;border-radius: 5px 3px 0 0;background-size: contain!important;margin: 10px 0;}
.forum-detail .article-img a,.article-detail .article-img a{display: block;width: 100%;height: 100%;}
.forum-detail .article-img img,.article-detail .article-img img{display: none;}

/* login */
.login-box{background-color: /*#87f1b0*/#708090;}
.login-box .wrap{display: flex;flex-wrap: wrap;align-items: stretch;max-width: 100%;padding: 0;}
.login-box .account{position: absolute;right: 10px;top: 10px;}
.login .logo a{font-size: 22px;width: 110px;display: inline-block;margin: 0 auto;height: 40px;}
.login form{text-align: left;}
#checkkeyshowkey{position: absolute;bottom: 146px;right: 60px;line-height: 40px;}
#checkkeyshowkey a{margin-right: 10px;color: #0c64ff;}
#checkkeyshowkey img{height: 40px;border-radius: 0 5px 5px 0;}
/*.login .logo:after{content: " ";position: absolute;top: 90;left:30;height: 1px;right:30;}*/
.login{margin:auto;padding: 20px 50px 30px;max-width: 260px;background: rgba(255, 255, 255, 1);box-shadow:0 0 10px rgb(0 0 0 / 10%);position: relative;-webkit-backdrop-filter: blur(45px);backdrop-filter: blur(45px);border-radius: 5px;text-align: center;color: #666;flex: auto;}
.login:after{position: absolute;content: "";left: -10px;right: -10px;top: -10px;bottom: -10px;background: repeating-linear-gradient(315deg,transparent,transparent 14px,#fff 14px,#fff 16px);border-radius: 10px;z-index: -5;}
.login-bg{flex:0 0 50%;background:url(https://picsum.photos/2880/1800) center;background-size: cover;align-items: center;flex-direction: column;color: #fff;justify-content: center;display: flex;background-color: #fff;}
#quote{font-size: 1.5rem;margin: 10px;}
#quote,#author{text-shadow: 0 1px 2px rgba(0,0,0,0.8);}
.login input{display: block;width:-webkit-fill-available; max-width: 380px;height: 40px;padding:0 10px;border-radius:5px;box-shadow: inset 0 1px 2px rgb(0 0 0 / 5%);background: rgba(255, 255, 255, .8);border: 1px solid rgba(125, 125, 125, .3);font-size: inherit;}
.remember input{width: 17px;height: 17px;display: inline-block;margin: -3px 5px 0 0;vertical-align: middle;}
.login div{display: block;margin: 20px 0;}
.login div:last-child{text-align: center;}
.login .code {vertical-align: top;margin-top: -12px;display: inline-block;}
.login .code img{max-width: 80px;border: 1px solid #eee;margin-left: 10px;}
.login #code{width: 72%;display: inline-block;-}
.login .bt{width: 100%;margin: 0 auto;height: 42px;}
.input{position: relative;}
.input a{position: absolute;right: 0;bottom: 0;line-height: 44px;color: #bbb;}
.login #key{width: 120px;display: inline-block;margin-bottom: 10px;}
.login #loginshowkey,.login #regshowkey,.login #getpasswordshowkey,.login #regsendshowkey{display: inline-block;margin:0 10px;}
.login #loginshowkey img,.login #regshowkey img,.login #getpasswordshowkey img,.login #regsendshowkey img{height: 35px;vertical-align: middle;border-radius: 5px;}
.login .signup{margin-top: 40px;}
.login .copy{position: absolute;color: rgba(125,125,125,.8);bottom: -30px;left: 50%;margin:0 0 0 -50px;}
.login div:nth-last-child(2) a{color: #06f;position: relative;}
.login div:nth-last-child(2) a:after{position: absolute;content: "\203A";font-size: 1.3rem;right: -8px;line-height: 13px;top: 50%;margin-top: -8px;}


/*download*/
main .downloand-wrap{text-align: center;margin: 20px auto;max-width: 800px;background: #fff;padding: 50px 40px 60px;border-radius: 5px;align-items: center;flex-direction: column;}
.downloand-wrap h1{font-size: 1.3rem;}
.downloand-wrap h2{margin: 20px 0;font-size: 1.6rem;}
.downloand-wrap #time{display: none;}
.downloand-wrap h3{color: #999;margin-bottom: 30px;font-size: 1rem;}
.downloand-wrap h3 a{color: #06f;}
.downloand-wrap h3 i{color: #444;font-style: normal;}
.downloand-wrap h3 b{padding: 0 5px 2px;background: #333;border-radius: 5px;color: #fff;font-size: 14px;border: 1px solid #000;}
.download-hint{background: #fff;border-radius: 10px 10px 10px 0;bottom: 24px;box-shadow: 0 8px 16px 0 rgb(34 36 79 / 18%);font-size: 16px;left: 24px;position: fixed;transition: opacity .5s ease-in-out;width: 420px;z-index: 999;animation: download-hint 0s 3s forwards;opacity: 0;display: none;}
@keyframes download-hint {
  to   { opacity: 1; }
}
.download-hint:before {background: #fff;border-radius: 0 0 0 8px;bottom: -12px;box-shadow: 0 8px 16px 0 rgb(34 36 79 / 18%);content: "";height: 24px;left: 0;position: absolute;transform: skewY(-45deg);width: 24px;z-index: -1;}
.download-tips ul{display: flex;flex-wrap: wrap;align-items: stretch;}
.download-tips li {flex: 0 0 32%;box-sizing: border-box;text-align: center;background: #f3f8fb linear-gradient(90deg,#f3f8fb,#f4f7fa);padding: 20px 5px 30px;margin-right:2%;line-height: 1.5rem;border-radius: 10px;}
.download-tips li:nth-child(3){margin-right: 0;}
.download-tips li b{display: block;font-size: initial;margin-bottom: 6px;}
.download-tips li span{display: block;margin-top: 5px;min-height: 8rem;position: relative;}
.download-tips li span img{max-width: 60px;position: absolute;left: 2rem;top: 1.4rem;}
.download-tips li span i{font-size: 1.2rem;color: #666;line-height: 6.8rem; margin-right: 0.5rem;font-style: normal;}
.download-tips li:nth-child(1) span{background: url(../img/step-mac.png) center bottom no-repeat;background-size: cover;}
.download-tips li:nth-child(2) span{background: url(../img/step-drag.png) center bottom no-repeat;background-size: cover;}
.download-tips li:nth-child(3) span{background: url(../img/step-launch-mac.png) center bottom no-repeat;background-size: cover;}
.download-tips li:nth-child(3) span img{left: 7.5rem;top: .5rem;max-width: 75px;}
.baidu-hint{font-style: normal;margin: 15px 0;display: inline-block;background-color: #fff0d1;padding: 0 15px 0 42px;border-radius: 5px;color: #f60;line-height: 40px;}



/* 768px */
@media (max-width: 768px){
.search #keywords{width: 80px;margin-left: 10px;}
main .wrap{margin: 10px auto;}
.main{margin: 0;flex: 100%;padding: 15px;overflow: hidden;max-width: 100%;}
.sidebar{flex: 100%;margin: 10px 0;padding: 15px;}
#box2.active .app-item a{padding: 20px 0;}
.account-avatar{width: 22px;overflow: hidden;}
.sub{left: inherit;right: 0;}

}